.menu{
    margin: 0 $size-s;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.menu__select{
    font-size: $font-size-m;
    padding: $size-s;
    width: 20%;
    font-weight: 500;
    margin: $size-s 0;
    border:none;
    background-color: #184080 ;
    color: #ffffff;
    border-bottom: .5rem solid darken(#859ec7, 10%);
}

.menu__item{
    backdrop-filter: opacity(.9) blur(2px);
    color: #000000;
    display: flex;
    font-weight: bold;
    margin: $size-s;
    padding: $size-s;
    justify-content: space-between;
    box-shadow: .2rem .2rem .4rem darken(#000000, 10%);
    font-size: $font-size-m;
}

.menu__item-element{
    padding: $size-s;
    flex-grow: 1;
    text-align: left;
    word-break: break-word;
    align-self: center;
}

.menu__item-label{
    display: block;
    margin: $size-s 0;
    
}

.menu__item-input{
    text-align: end;
    margin: .5rem 0;
    &--number{
        text-align: center;
        font-size: $font-size-m;
        font-weight: 500;
    }
    &--checkbox{
        font-size: $font-size-l;
        width: $size-l;
        height: $size-l;
    }
}


@media screen and (max-width: 650px){
    .menu__select{
        width: 40%;
    }
   
    
}