.ReactModal__Content{
    text-align: center;
    align-items: center;
    height: 50%;
}

.ReactModalPortal .ReactModal__Overlay{
    display: flex;
    justify-content: center;  //horizontal
    align-items: center; //vertical
    backdrop-filter: opacity .6;
    transition: opacity 200ms ease-in-out;
}

.modal{
    background-color: #d4e0f7;
    outline: none;
    width: 20rem;
    height: 14rem;
}