.page{
    margin: 0 $size-m;
    
}


.page__title{
    text-align: center;
    font-size: $font-size-xl;
    font-weight: 400;
    color: #ff0000;
    text-shadow: .4rem .4rem .2rem darken(#e7e7e7, 20%);
}

.page__content{
    display: inline-flex;
}

.page__text{
    font-size: $font-size-m;
    font-weight: 300;
    word-break: break-word;
    line-height: 2;
    &::selection{
        background-color: #bfbce4;
    }
}

.page__msg{
    font-size: $font-size-m;
    color: #2e27b0;
    justify-content: center;
    text-align: center;
}