
.page{
    background-image: url('/img/menu_back.jpg');
    background-size: cover;
    background-position: center, center;
    min-height: 98vh;
}


.page__title{
    margin: 0;
    padding: $size-l;
    text-align: center;
    font-size: $font-size-xl;
    font-weight: 400;
    color: #ff0000;
    text-shadow: .2rem .2rem .2rem #000000;
}

.page__content{
    display: inline-flex;
}

.page__text{
    margin:$size-s;
    font-size: $font-size-m;
    font-weight: 300;
    word-break: break-word;
    line-height: 2;
    &::selection{
        background-color: #bfbce4;
    }
}

.page__msg{
    font-size: $font-size-m;
    color: #2e27b0;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 650px){
    
}